<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>795434266612-9vk25d22k9ihajr0q3oe7uiv5bo550vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795434266612-9vk25d22k9ihajr0q3oe7uiv5bo550vv</string>
	<key>API_KEY</key>
	<string>AIzaSyA8tz3j9PiCBjVcnS557lb5ivuptuQz5s8</string>
	<key>GCM_SENDER_ID</key>
	<string>795434266612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hisehouse.GHPlayerSheet</string>
	<key>PROJECT_ID</key>
	<string>ghplayersheet</string>
	<key>STORAGE_BUCKET</key>
	<string>ghplayersheet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795434266612:ios:2e0d05613c9c032f</string>
	<key>DATABASE_URL</key>
	<string>https://ghplayersheet.firebaseio.com</string>
</dict>
</plist>